.Chat-main
  .Right-header
    .Group-info
      .Group-name
        = @group.name
      .List-box
        .Menber 
          Member : 
        .Member-list
          - @group.users.each do |user|
            = user.name 
    .Group-edit
      = link_to edit_group_path(current_user) do
        Edit
  .Message-list
    = render @messages
  .Message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .Input-box
        = f.text_field :content, class: 'Input-text', placeholder: 'type a message'
        = f.label :image, class: 'Upload-icon' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Upload-photo'
      = f.submit 'Send', class: 'Form-send'