.Side-bar
  .Left-header
    .Left-box
      .User-name
        = current_user.name
      .Icons
        = link_to new_group_path(current_user), class: "Icons__icon" do
          = icon('fa', 'edit')
        = link_to edit_user_path(current_user), class: "Icons__icon" do
          = icon('fa', 'cog')
  .Group-list
    - current_user.groups.each do |group|
      .Group
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message